<audio id="@($"audioplayer-{BookAudioId}")"></audio>
<RadzenText Text="@Title" TextStyle="TextStyle.Subtitle2"></RadzenText>
<RadzenCard Style="display:flex;flex-direction:row;align-items:center; width:99%;">

	@* <RadzenButton IsBusy="!_hasStarted" Size="ButtonSize.Small" Icon="play_arrow" Click="PlayAudio"></RadzenButton>
	<RadzenButton Disabled="!_hasStarted" Size="ButtonSize.Small" Icon="pause" Click="PauseAudio"></RadzenButton> *@
	<RadzenToggleButton IsBusy="!_hasStarted" @bind-Value=_isAudioPlaying Icon="play_arrow" Text="@(_isAudioPlaying ? "pause" : "play")" ToggleButtonStyle="ButtonStyle.Danger" ButtonStyle="ButtonStyle.Success" ToggleIcon="pause" Change="TogglePlayPause"></RadzenToggleButton>
	@if (_isStreamingComplete)
	{
		<RadzenCard Style="display:flex;flex-direction:column">
			<RadzenSlider Value="_progress" TValue="double" Change="@(args => ChangeProgress(args))"></RadzenSlider>
			<br />
			<div>
				<RadzenText TextAlign="TextAlign.Center" Text="@_elapsed" TextStyle="TextStyle.Caption"></RadzenText> <span>/</span>
				<RadzenText TextAlign="TextAlign.Center" Text="@_duration" TextStyle="TextStyle.Caption"></RadzenText>
			</div>
		</RadzenCard>

	}
							
</RadzenCard>