@using ConfigurationSection = SkPluginLibrary.Models.Helpers.ConfigurationSection;
<RadzenRow>
    <RadzenColumn Size="10" Offset="1">
        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Subtitle2"><span style="background-color:red; color:white">Red</span> sections are missing required values</RadzenText>
        <RadzenAccordion>
            <Items>
                @foreach (var configSection in ConfigurationDisplays)
                {

                    <RadzenAccordionItem Text="@configSection.ConfigurationSection.Name" class="@configSection.CssClass">
                        <RadzenCard>
                            <RadzenTemplateForm TItem="ConfigurationSection" Data="configSection.ConfigurationSection" Submit="SetConfigSection">
                                @foreach (var item in configSection.ConfigurationSection.ConfigurationProperties)
                                {
                                    if (item.Name.Contains("Key") || item.Name.Contains("Connection") || item.Name.Contains("pat", StringComparison.InvariantCultureIgnoreCase))
                                    {
                                        <RadzenFormField Text="@item.Name">
                                            <ChildContent>
                                                <RadzenPassword @bind-Value="@item.Value" AutoComplete="false"></RadzenPassword>
                                            </ChildContent>                                          
                                        </RadzenFormField>
                                    }
                                    else
                                    {
                                        <RadzenFormField Text="@item.Name">
                                            <ChildContent>
                                                <RadzenTextBox Name="@item.Name" @bind-Value="@item.Value"></RadzenTextBox>
                                            </ChildContent>
                                            <Helper>
                                                <RadzenCustomValidator Component="@item.Name" Validator="@(() => ValidateApiKeyChange(configSection.ConfigurationSection))" Text="Nice Try! Add your own ApiKey to modify the default models"></RadzenCustomValidator>
                                            </Helper>
                                        </RadzenFormField>
                                    }

                                }
                                <br />
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save"></RadzenButton>
                            </RadzenTemplateForm>
                        </RadzenCard>

                    </RadzenAccordionItem>
                }
            </Items>
        </RadzenAccordion>
    </RadzenColumn>
</RadzenRow>