@if (TokenString.StringValue.Contains('\n'))
{
    <br/>
}
<span style="cursor: pointer" @ref="_ref" @onclick="@(() => OnClick.InvokeAsync(TokenString))" @onmouseenter="@(() => ShowTooltip(_ref, TokenString))">
    @((MarkupString)_textAsHtml)
</span>

@code {
    void ShowTooltipWithHtml(ElementReference elementReference, List<TokenString> alternateTokens, TooltipOptions? options = null) => TooltipService.Open(elementReference, ds =>

        @<ol>
    @foreach (var item in alternateTokens){
    <li>
        <h6>@item.StringValue</h6>
        <p>@item.NormalizedLogProbability.ToString("P2")</p>
    </li>
    }
</ol>, options);
}